.copyright {
    font-size: small;
    color: #fff;
}

.menu {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

s .fa-bars {
    margin-right: 10px;
}

.menu-label:hover:hover {
    color: #888;
}

.navigation-menu {
    background: #111;
    height: 100%;
    width: 50%;
    padding: 60px 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: fixed;
    right: -50%;
    top: 0;
    transition: all 0.5s;
    z-index: 2;
    font-size: 30px;

}

.navigation-menu li {
    padding: 30px 0;
}

.navigation-menu li:nth-of-type(2n) {
    background: #222;
}

.navigation-menu li:hover {
    background: #444;
}

.navigation-menu a {
    color: #E5E5E5;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.navigation-menu input {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #E5E5E5;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
}

.navbar {
    background: #595959;
    padding: 20px;
    position: fixed;
    width: 96%;

    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 80%;
    margin: 40px auto;
    padding-top: 75px;
    transition: all 0.5s;
    position: relative;
    left: 0;
}

#toggle {
    display: none;
}

label[for="toggle"] {
    cursor: pointer;
    font-size: 30px;
}

.menu-username {
    align-self: flex-end;
    font-size: 30px;
    align-self: right;
    margin-right: 50px;
}

input#toggle:checked+ul.navigation-menu {
    right: 0;
}

input#toggle:checked~.content {
    left: -50%;
}