.content {
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 1fr));
    background-color: #ccc;
    column-gap: 0.4rem;
    row-gap: 0.6rem;
    padding: 2rem;
    margin: 0;
    max-width: 75rem;
}

body {
    background-color: #ccc;
}

.auction {
    min-width: 0;
    flex-direction: column;
    background: #eee;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    height: 378px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: auto;
}

.auction:nth-child(3n+3) {
    flex-basis: 100%;

}

.title {
    margin-top: 6rem;
    margin-left: 2rem;
}

.content>a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

.auction>img {
    max-width: 22rem;
    max-height: 13rem;
    margin: auto;
    display: block;
}

.auction>h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.auction>p {
    font-size: 1rem;
    margin-bottom: 0;
}

.auction>p>span {
    font-weight: bold;
}

.body {
    background-color: aquamarine;
}